html {
  font-size: 100%;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  max-width: 1240px;
  margin: auto;
  padding: 0;
}

a {
  text-decoration: none;
}

.filters-nav {
  width: 80%;
  margin: 2rem auto;
  text-align: center;
}
@media (min-width: 75em) {
  .filters-nav {
    width: max-content;
    margin: 45px 33% 0 auto;
  }
}

.hidden {
  display: none;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.filter-btn {
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
  color: #911d1d;
  padding: 3px 7px 3px 7px;
  margin: 2px;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
.filter-btn:hover {
  cursor: pointer;
  color: white;
  background-color: #911d1d;
}

.btn-active {
  cursor: pointer;
  color: white;
  background-color: #911d1d;
}

@media (min-width: 75em) {
  header {
    display: flex;
  }
}

.top-nav {
  margin: 40px 0 0 20px;
  width: 150px;
}

a > img {
  width: 150px;
  transform: scale(1.5);
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: auto;
}
.lightbox-btn {
  border: none;
  background-color: transparent;
  color: #911d1d;
  font-size: 1.5rem;
  position: absolute;
  padding: 0;
  outline: none;
}
.lightbox-btn:focus, .lightbox-btn:focus-visible, .lightbox-btn:active, .lightbox-btn:hover {
  border-bottom: 2px solid;
  cursor: pointer;
}
.lightbox-btn__close {
  top: 0;
  right: 0;
  transform: translate(-20%, 10vh);
}
@media (min-width: 56.25em) {
  .lightbox-btn__close {
    top: 5vh;
    right: 5vw;
  }
}
.lightbox-btn__prev {
  left: 0;
  top: 50%;
  transform: translate(40%, -50%);
}
@media (min-width: 56.25em) {
  .lightbox-btn__prev {
    left: 5vw;
  }
}
.lightbox-btn__next {
  right: 0;
  top: 50%;
  transform: translate(-40%, -50%);
}
@media (min-width: 56.25em) {
  .lightbox-btn__next {
    right: 5vw;
  }
}
.lightbox__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 80vw;
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
}
.lightbox__container-media {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: contain;
}
@media (min-width: 56.25em) {
  .lightbox__container-media {
    max-height: 80vh;
  }
}
.lightbox__container-title {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #911d1d;
  width: 100%;
}
@media (min-width: 56.25em) {
  .lightbox__container-title {
    font-size: 1.5rem;
  }
}

.modal {
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #db8876;
  z-index: 100;
}
@media (min-width: 37.5em) {
  .modal {
    min-width: 669px;
    max-width: unset;
    min-height: unset;
    max-height: 900px;
    margin: auto;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.modal > form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.modal-header > h1 {
  margin-bottom: 1rem;
}
.modal-header > * {
  font-size: 2.25rem;
}
.modal-btn__close {
  position: absolute;
  top: 3vh;
  right: 3vh;
  border: none;
  color: white;
  font-size: 1.5rem;
  background-color: #db8876;
}
.modal-label {
  font-size: 1.5rem;
}
.modal-input {
  border-radius: 5px;
  height: 52px;
  font-size: 1.5rem;
  margin: 0 0 0.4rem 0;
  border: none;
}
.modal-textarea {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  resize: none;
}
.modal-btn {
  cursor: pointer;
  color: white;
  background-color: #911d1d;
  border: none;
  margin: 2rem auto;
  width: 170px;
  padding: 5px 50px 7px 51px;
  font-size: 1.125rem;
  font-weight: bold;
  border-radius: 5px;
}
@media (min-width: 37.5em) {
  .modal-btn {
    margin: 2rem 0;
    height: 69px;
  }
}

.homepage-title {
  position: absolute;
  top: 50px;
  right: 22px;
  margin-top: 0;
  font-size: 14px;
  color: #911d1d;
}
@media (min-width: 37.5em) {
  .homepage-title {
    font-size: 36px;
    top: 34px;
  }
}

.photographers {
  width: 90%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 56.25em) {
  .photographers {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.photographers .photographer-item {
  width: 360px;
  margin: 3rem auto;
  text-align: center;
}
.photographers .photographer-item a > img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2.5rem;
}
.photographers .photographer-item__name {
  font-size: 2.25rem;
  color: #d3573c;
  margin-bottom: 0;
}
.photographers .photographer-item__info-location {
  color: #911d1d;
  margin: 0;
}
.photographers .photographer-item__info-tagline {
  font-size: 10px;
  font-weight: 400;
}
.photographers .photographer-item__info-price {
  color: #757575;
  font-size: 9px;
}
.photographer .photographer-item {
  width: 90%;
  margin: 1.313rem auto;
}
@media (min-width: 37.5em) {
  .photographer .photographer-item {
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fafafa;
  }
}
@media (min-width: 75em) {
  .photographer .photographer-item {
    width: 1240px;
  }
}
.photographer .photographer-item__header {
  display: flex;
  justify-content: space-between;
  height: 112px;
}
.photographer .photographer-item__header img {
  order: 2;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
@media (min-width: 37.5em) {
  .photographer .photographer-item__header img {
    height: 200px;
    width: 200px;
  }
}
.photographer .photographer-item__header h1 {
  position: relative;
  top: initial;
  right: initial;
  font-size: 2.25rem;
  font-weight: normal;
  color: #d3573c;
  line-height: 1;
}
@media (min-width: 56.25em) {
  .photographer .photographer-item__header h1 {
    margin-right: 2rem;
    font-size: 64px;
  }
}
.photographer .photographer-item__header-contact {
  height: 69px;
  align-self: center;
  display: flex;
}
.photographer .photographer-item__header-contact-btn {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 6%;
  color: white;
  background-color: #911d1d;
  border: none;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 23px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  min-width: 170px;
  z-index: 2;
}
@media (min-width: 37.5em) {
  .photographer .photographer-item__header-contact-btn {
    position: relative;
    left: unset;
    transform: none;
    line-height: 26px;
  }
}
@media (min-width: 75em) {
  .photographer .photographer-item__header-contact-btn {
    font-size: 1.25rem;
  }
}
.photographer .photographer-item__info {
  font-size: 13px;
}
.photographer .photographer-item__info-location {
  color: #911d1d;
}
@media (min-width: 37.5em) {
  .photographer .photographer-item__info-location {
    font-size: 24px;
  }
}
.photographer .photographer-item__info-tagline {
  color: #757575;
}
@media (min-width: 37.5em) {
  .photographer .photographer-item__info-tagline {
    font-size: 18px;
  }
}
.photographer .photographer-item__info-rate {
  position: fixed;
  bottom: 0;
  right: 5%;
  width: 23.5rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #db8876;
  display: flex;
  justify-content: space-around;
}
.photographer .photographer-item__info-rate > * {
  margin: auto;
}

.photographer-gallery {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 4rem;
}
@media (min-width: 75em) {
  .photographer-gallery {
    width: 100%;
    justify-content: space-between;
  }
}
.photographer-gallery__filter {
  margin-bottom: 2rem;
  width: 100%;
}
.photographer-gallery__filter label, .photographer-gallery__filter select {
  font-size: 18px;
  font-weight: bold;
}
.photographer-gallery__filter select, .photographer-gallery__filter option {
  margin-left: 1.5rem;
  border: none;
  background-color: #911d1d;
  color: white;
  border-radius: 5px;
}
.photographer-gallery__filter select {
  appearance: none;
  padding: 1rem;
}
.photographer-gallery__item {
  width: 350px;
  max-width: 350px;
}
.photographer-gallery__item:last-child {
  margin-bottom: 3rem;
}
.photographer-gallery__item-media {
  width: 100%;
  height: 190px;
  margin-top: 2rem;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
@media (min-width: 37.5em) {
  .photographer-gallery__item-media {
    width: 350px;
    height: 300px;
  }
}
.photographer-gallery__item-vid {
  width: 100%;
  height: 190px;
}
@media (min-width: 37.5em) {
  .photographer-gallery__item-vid {
    width: 350px;
    height: 300px;
  }
}
.photographer-gallery__item-info {
  display: flex;
  justify-content: space-between;
  color: #911d1d;
  font-size: 0.875rem;
  font-weight: 500;
}
@media (min-width: 37.5em) {
  .photographer-gallery__item-info {
    font-size: 1.5rem;
  }
}
.photographer-gallery__item-info-title {
  font-size: 0.875rem;
  font-weight: 500;
  width: 60%;
}
@media (min-width: 37.5em) {
  .photographer-gallery__item-info-title {
    font-size: 1.5rem;
  }
}
.photographer-gallery__item-info-price {
  margin: auto 1rem auto auto;
}
.photographer-gallery__item-info-likes {
  margin: auto 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #911d1d;
}
@media (min-width: 37.5em) {
  .photographer-gallery__item-info-likes {
    font-size: 1.5rem;
  }
}
.photographer-gallery__item-info-likes i {
  margin-left: 0.225rem;
}

/*# sourceMappingURL=styles.css.map */
