//font
$dm: 'DM Sans', sans-serif;

//colors
$p_red: hsl(0, 67%, 34%, 1);
$p_orange: hsl(11, 63%, 53%, 1);

$s_orange: hsl(11, 58%, 66%, 1);
$s_lightGrey: hsl(0, 0%, 98%, 1);

$border-grey: hsl(0, 0%, 77%, 1);
$gray: #757575;
