@use "../utils" as *;

.photographer {

  .photographer-item {
    width: 90%;
    margin: 1.313rem auto;

    @include for-tablet-portrait-up() {
      padding: 48px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $s_lightGrey;
    }

    @include for-desktop-up() {
      width: 1240px;
    }

    &__header {
      position: relative;
      display: flex;
      justify-content: space-between;

      img {
        position: absolute;
        right: 0;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;

        @include for-tablet-portrait-up() {
          height: 200px;
          width: 200px;
        }
      }

      h1 {
        position: relative;
        top: initial;
        right: initial;
        font-size: 2.25rem;
        font-weight: normal;
        color: $p_orange;
        line-height: 1;
        margin: 1rem 0 0 0;
        width: 70%;

        @include for-tablet-landscape-up() {
          margin: 0 2rem 0 0;
          font-size: 64px;
        }
      }

      &-contact {
        height: 69px;
        align-self: center;
        display: flex;

        &-btn {
          position: fixed;
          left: 50%;
          transform: translateX(-50%);
          bottom: 6%;
          color: white;
          background-color: $p_red;
          border: none;
          font-size: 1.125rem;
          font-weight: bold;
          line-height: 23px;
          border-radius: 5px;
          padding: 0.5rem 1rem;
          cursor: pointer;
          min-width: 10.625rem;
          z-index: 8;

          @include for-tablet-portrait-only() {
            position: absolute;
            bottom: -15.75rem;
            left: 30%;
            transform: translateX(133%);
            height: 4.375rem;

          }

          @include for-tablet-portrait-up() {
            position: absolute;
            bottom: -15rem;
            transform: translateX(133%);
            height: 4.375rem;
          }


          @include for-desktop-up {
            font-size: 1.25rem;
            transform: translate(50%, -339%);
          }
        }
      }
    }

    &__info {
      font-size: 13px;
      width: 70%;

      &-location {
        color: $p_red;
        margin-top: 0;

        @include for-tablet-portrait-up() {
          font-size: 24px;
        }
      }

      &-tagline {
        color: $gray;
        margin-top: 0;

        @include for-tablet-portrait-up() {
          font-size: 18px;
        }
      }

      &-rate {
        position: fixed;
        bottom: 0;
        right: 5%;
        width: 23.5rem;
        height: 3rem;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: $s_orange;
        display: flex;
        justify-content: space-around;
        margin: 0;
        
        & > * {
          margin: auto;
        }
      }
    }
  }

}

// Section photographer-gallery
.photographer-gallery {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 4rem;

  @include for-desktop-up() {
    width: 100%;
    justify-content: space-between;
  }

  &__filter {
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    z-index: 5;

    & > span {
      font-weight: bold;
      font-size: 18px;
      margin-right: 1rem;
    }

    .select-btn {
      width: 170px;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      font-weight: bold;
      background-color: $p_red;
      padding: 1rem;
      cursor: pointer;
    }

    .select {
      position: relative;

      & ul {
        list-style: none;
        padding: 0;
        position: absolute;
        top: -1rem;

        & li {
          width: 170px;
          color: white;
          font-size: 18px;
          font-weight: bold;
          background-color: $p_red;
          padding: 1rem;
          cursor: pointer;
          z-index: 5;

          &:first-child {
            border-radius: 5px 5px 0 0;
            border-bottom: 1px solid white;
          }

          &:last-child {
            border-radius: 0 0 5px 5px;
            border-top: 1px solid white;
          }
        }
      }
    }

  }

  &__item {
    width: 350px;
    max-width: 350px;

    &:last-child {
      margin-bottom: 3rem;
    }

    &-media {
      width: 100%;
      height: 190px;
      margin-top: 2rem;
      object-fit: cover;
      object-position: center;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, .2);

      @include for-tablet-portrait-up() {
        width: 350px;
        height: 300px;
      }
    }

    &-vid {
      width: 100%;
      height: 190px;

      @include for-tablet-portrait-up() {
        width: 350px;
        height: 300px;
      }
    }

    &-info {
      display: flex;
      justify-content: space-between;
      color: $p_red;
      font-size: 0.875rem;
      font-weight: 500;
      cursor: pointer;

      @include for-tablet-portrait-up() {
        font-size: 1.5rem;
      }

      &-title {
        font-size: 0.875rem;
        font-weight: 500;
        width: 60%;

        @include for-tablet-portrait-up() {
          font-size: 1.5rem;
        }
      }

      &-price {
        margin: auto 1rem auto auto;
      }

      &-likes {
        margin: auto 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        color: $p_red;

        @include for-tablet-portrait-up() {
          font-size: 1.5rem;
        }

        i {
          margin-left: 0.225rem;
        }
      }
    }

  }

}
