@import "../utils/variables";

.filter-btn {
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
  color: $p_red;
  padding: 3px 7px 3px 7px;
  margin: 2px;
  border: 0.5px solid $border-grey;
  border-radius: 11px;
  background: transparent;
  transition: all 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    color: white;
    background-color: $p_red;
  }


}

.btn-active {
  cursor: pointer;
  color: white;
  background-color: $p_red;
}

