@use "../utils" as *;

html {
  font-size: 100%;
  font-family: $dm;
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  max-width: 1240px;
  margin: auto;
  padding: 0;
}

a {
  text-decoration: none;
}

.filters-nav {
  width: 80%;
  margin: 2rem auto;
  text-align: center;

  @include for-desktop-up() {
    width: max-content;
    margin: 45px 33% 0 auto;
  }
}

.hidden {
  display: none;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
