@use "../utils" as *;

html {
  font-size: 100%;
  font-family: $dm;
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
  //outline: 1px solid blue;
}

body {
  max-width: 1240px;
  margin: auto;
  padding: 0;
}

.main-nav {
  position: sticky;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $s_orange;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 1.125rem;
  width: 182px;
  padding: 3px 0;
  z-index: 100;
}

a {
  text-decoration: none;
  color: black;
}

.filter a {
  margin-top: 0.5rem;
  display: inline-flex;
}

.filters-nav {
  width: 90%;
  margin: 2rem auto;
  text-align: center;

  @include for-desktop-up() {
    width: max-content;
    margin: 45px 33% 0 auto;
  }
}

.hidden {
  display: none;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
