@import '../utils/variables';

.lightbox {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: auto;

  &-btn {
    border: none;
    background-color: transparent;
    color: $p_red;
    font-size: 1.5rem;

    &__close {
      right: 2%;
      position: absolute;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 50px;

    &-img {
      max-width: 100%;
      height: auto;
    }

    &-title {
      margin-top: 0.5rem;
      font-size: 0.875rem;
      color: $p_red;
      width: 100%;
    }
  }

}
